
body {
    font-family: Arial, sans-serif;
}

header {
    background-image: url('foto1.jpg');
    background-size: cover;
    text-align: center;
    color: white;
    padding: 2rem;
}

main {
    display: flex;
    flex-direction: column;
}


@media (min-width: 768px) {
    main {
        flex-direction: row;
    }

    .left-section {
        flex: 2;
    }

    .right-section {
        flex: 9;
        background-color: #f0f0f0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .attraction {
        display: flex;
        align-items: center;
        margin: 1rem;
    }

    .attraction img {
        max-width: 100px;
        margin-right: 1rem;
    }
}


@media (max-width: 767px) {
    .left-section,
    .right-section {
        width: 100%;
    }
}
